<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_md-12 tui-col_lg-6 tui-space_vertical-5">
      <mt-translator-source [(ngModel)]="sourceForm"></mt-translator-source>
    </div>
    <div class="tui-col_md-12 tui-col_lg-6 tui-space_vertical-5">
      <mt-translator-target [translation]="translation"></mt-translator-target>
      <div class="translator-btn">
        <button
          (click)="translate()"
          [showLoader]="loading"
          [disabled]="!sourceFormIsValid"
          class="tui-space_vertical-5"
          tuiButton type="button"
          appearance="outline"
        >
          Translate
        </button>
      </div>
    </div>
  </div>
</div>

